@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("/public/assets/fonts/Helvetica.ttf") format("truetype");
}
.font-helvetica {
  font-family: "Helvetica", sans-serif;
}