@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('/public/assets/fonts/Helvetica.ttf') format('truetype');
}

.font-helvetica {
  font-family: 'Helvetica', sans-serif;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px !important;
  color: #00a8e8 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 100;
  color: #00a8e8 !important;
}

@media (max-width: 770px) {
  .slick-list .slick-track {
    display: flex;
    gap: 6px;
  }
}

.custom-slider .slick-list .slick-track {
  display: flex;
  gap: 24px;
}

.faq-icon svg path {
  fill: white;
  transition: all;
  animation-duration: 300ms;
}

@media (max-width: 1025px) {
  .custom-slider .slick-list .slick-track {
    display: flex;
    gap: 10px;
  }
}

.custom-slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px !important;
  top: 10px;
  color: #00a8e8 !important;
}
